In [2]:
from ta import add_all_ta_features
from ta.utils import dropna
from ta.volatility import BollingerBands

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Documentation: https://technical-analysis-library-in-python.readthedocs.io/en/latest/

In [10]:
company_info = pd.read_csv(r"C:\Users\Matt\Downloads\Git\cis4400fall2024\data\companyInfo.csv")
otc_data_dict = pd.read_excel(r"C:\Users\Matt\Downloads\Git\cis4400fall2024\data\otc_data_dictionary.xlsx")
otc_security = pd.read_

In [5]:
company_info.head()

,Symbol,Security Name,Tier,Price,Change %,Vol,Sec Type,Country,State
0,AAAIF,ALTERNATIVE INVSTMENT TR,Pink Current,0.0000,NaN,0,Fund,NaN,NaN
1,AAALF,AAREAL BANK AG AKT,Pink Current,31.9900,NaN,0,Foreign Ordinary Shares,Germany,NaN
2,AAALY,AAREAL BANK AG UNSP/ADR,Pink Current,34.6500,NaN,0,ADRs,Germany,NaN
3,AABB,ASIA BROADBAND INC,Pink Current,0.0285,2.518,8396652,Common Stock,USA,Nevada
4,AABVF,ABERDEEN INTL INC,Pink Current,0.0324,NaN,0,Foreign Ordinary Shares,Canada,Ontario

In [11]:
otc_data_dict.head()

,Data Element,Description,Data Type
0,Security ID,OTC Markets Group unique identifier for security,Integer
1,Company ID,OTC Markets Group unique company identifier fo...,Integer
2,Trading Symbol,US markets symbol,Char(10)
3,CUSIP Number,S&P Unique Security Identifier. This field wil...,Char(9)
4,Security Name (Issue),OTC Markets Group supplied name for security,Char(50)